[Unit]
Description=Relais MariaDB pour la copie
After=network-online.target
Wants=network-online.target

[Service]
User=ayoub
Environment=HOME=/home/ayoub
ExecStart=/usr/local/bin/kubectl port-forward --address __IP_LOCALE__ svc/mariadb-release 3306:3306
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target